# ===================================================================
# dogm_ros parameter file (Dual Radar Version)
# ===================================================================

# 1. ROS Topics & Coordinate Frames
# -------------------------------------------------------------------
lidar_topic: "/scan"                     
radar_topic_1: "/ti_mmwave/radar_scan_pcl_0" 
radar_topic_2: "/ti_mmwave/radar_scan_pcl_1" 
radar_frame_1: "radar_1"                 # URDF에 정의된 Link 이름 (우측)
radar_frame_2: "radar_2"                 # URDF에 정의된 Link 이름 (좌측)

grid_topic: "/dogm/grid"                 
marker_topic: "/dogm/markers"            
base_frame: "base_link"                  
odom_topic: "/odometry/filtered"         

# 2. Grid Map & Filter Base Settings
# -------------------------------------------------------------------
grid_size: 3.0                           
grid_resolution: 0.15                    
filter_update_rate: 10.0                 
num_particles: 20000                   
max_velocity: 2                          

# 3. Main Filter Loop
# -------------------------------------------------------------------

# 3.1. Step 1: Measurement Model
use_radar: true                          
lidar_hit_point: 5                       
lidar_noise_stddev: 0.03                 
radar_buffer_size: 5                     
min_radar_points: 2                      

# 3.2. Step 2: Particle Prediction
process_noise_pos: 0.06                   
process_noise_vel: 0.30                  
persistence_prob: 0.95                  
velocity_damping_threshold: 0.2          
velocity_damping_factor: 0.2             

# 3.3. Step 3: Weight Update
radar_noise_stddev: 1.0

# 3.4. Step 4: Occupancy Update
birth_prob: 0.02

# 3.5. Step 5: Cell Classification
particle_static_velocity_threshold: 0.2
radar_static_velocity_threshold: 0.2
mode_cluster_velocity_thresh: 0.3
radar_hint_search_radius: 2
use_measurement_correction: true
use_false_static_detection: true
fsd_T_static: 2                          
fsd_T_free: 2                            

# 3.6. Step 6: Particle Generation
min_dynamic_birth_ratio: 0.3  
max_dynamic_birth_ratio: 0.9  
max_radar_speed_for_scaling: 1.0  
newborn_vel_stddev: 0.3
dynamic_newborn_vel_stddev: 1.5

# 4. Misc / Visualization
# -------------------------------------------------------------------
show_velocity_arrows: true               
use_ego_comp: true                       
max_velocity_for_scaling: 2.0            
show_ego_velocity_arrow: true
ego_vel_marker_topic: "/dogm/ego_velocity_arrow"